*{
    padding: 5px;
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}
.h6{
    font-weight: 750;
    margin-top: 35px;
}
.h1{
    font-weight: 900;
    padding-top: 0%;
}
.btn{
	border-radius: 0% 30px 30px 60px;
	width: 65%;   
}
.secand{
    margin-top: 75px;
    }
/*    .searchicon{
        position: absolute;
        right: 4%;
        top: 92%;
        padding: 5px;
        font-size: 20px;
        color: black;
    }*/
    .search{
        padding: 6px;
        margin-left: 42px;
        width: 80%;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    .background{
        background-image: linear-gradient(to right,rgb(3, 49, 109), skyblue, rgb(223, 84, 19));
        padding: 5%;
        width: 60vh;
        border-radius: 0% 35px 0% 35px;
    }
    .hr{
        width: 300px;
        display: flex;
        margin-left: 40%;
        background-color:black;
        border-radius:  35px 35px 35px 35px;
        border: -1px solid black;
    }

    .circle{
        background-color: rgb(187, 71, 17);
        padding: 15px;
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        left: 650px;
    }
    .third{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .b{
        background-color: white; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        /* width:120px;
        padding: 5px; */
        height: 110px;
        border-radius: 5px;
    }
    .search .icon{
        display: flex;
        padding-left: 50;
    }